<h1>XSS Testing of HandleBars <img src="images/handlebars_logo.png"></h1>
<section class="input">
    <form action="/input" method="post">
        <div class="input">
            <label for="type">Context</label>
            <input type="text" id="type" name="type">
        </div>
        <div class="input">
            <label for="content">Content</label>
            <input type="text" id="content" name="content">
        </div>
        <button type="submit">SEND</button>
    </form>
</section >
<section class="output">
    <h3>Input Display</h3>
    {{#if html}}
        <div>
            <div>Context: {{ this.type }}</div>
            <article class="item">
                <div> {{ this.content }}</div>
            </article>
        </div>
    {{/if}}
    {{#if script}}
        <script> <!-- Unsafe -->
            alert({{ this.content }}); // some code :>
        </script>
    {{/if}}
    {{#if script_pseudo}}
        <script> <!-- peudo-safe -->
        alert(`{{ this.content }}`); // some code :>
        </script>
    {{/if}}
    {{#if script_safe}}
        <script> <!-- safe -->
        alert("{{ this.content }}"); // some code :>
        </script>
    {{/if}}
    {{#if href}}
        Here is a  <a href={{ this.content }}>link</a>
    {{/if}}
    {{#if css}}
        <span style="color:  {{this.content}}">
            <h1>Your content has some color</h1>
        </span>
    {{/if}}
